{%- comment -%}Color labels used to detect what is a color swatch{%- endcomment -%}
{%- assign color_label = 'color,colour,couleur,cor,colore,farbe,색,色,カラー,färg,farve,szín,barva' | split: ',' -%}

<div class="product-item {% if horizontal %}product-item--horizontal{% elsif list %}product-item--list{% else %}product-item--vertical{% endif %} {% if section.id == 'blog-sidebar' %}product-item--compact{% endif %} {{ grid_classes }}">
  {%- capture product_labels -%}
    {%- unless hide_labels -%}
      {%- for tag in product.tags -%}
        {%- if tag contains '__label:' -%}
          <span class="product-label product-label--custom1">{{ tag | split: '__label:' | last }}</span>
        {%- endif -%}

        {%- if tag contains '__label1:' -%}
          <span class="product-label product-label--custom1">{{ tag | split: '__label1:' | last }}</span>
        {%- endif -%}

        {%- if tag contains '__label2:' -%}
          <span class="product-label product-label--custom2">{{ tag | split: '__label2:' | last }}</span>
        {%- endif -%}
      {%- endfor -%}

      {%- if settings.show_discount and product.price < product.compare_at_price -%}
        {%- if settings.discount_mode == 'percentage' -%}
          {%- assign savings = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round | append: '%' -%}
        {%- else -%}
          {%- capture savings -%}<span>{{ product.compare_at_price | minus: product.price | money }}</span>{%- endcapture -%}
        {%- endif -%}

        <span class="product-label product-label--on-sale">{{ 'collection.product.discount_html' | t: savings: savings }}</span>
      {%- endif -%}
    {%- endunless -%}
  {%- endcapture -%}

  {%- if product_labels != blank -%}
    <div class="product-item__label-list">
      {{- product_labels -}}
    </div>
  {%- endif -%}

  {%- if settings.show_secondary_image and product.media.size > 1 -%}
    {%- assign show_secondary_media = true -%}
  {%- else -%}
    {%- assign show_secondary_media = false -%}
  {%- endif -%}

  {%- assign filtered_variant = '' -%}

  {%- if product.media.size > 0 -%}
    {%- assign primary_media = product.featured_media -%}

    <a href="{{ product.url }}" class="product-item__image-wrapper {% if show_secondary_media %}product-item__image-wrapper--with-secondary{% endif %}">
      {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,300,400,500,600,700,800', image: primary_media.preview_image -%}{%- endcapture -%}
      {%- assign image_url = primary_media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

      <div class="aspect-ratio {% if settings.product_image_size != 'natural' %}aspect-ratio--{{ settings.product_image_size }}{% endif %}" style="padding-bottom: {{ 100.0 | divided_by: primary_media.preview_image.aspect_ratio }}%">
        <img class="product-item__primary-image lazyload image--fade-in" data-media-id="{{ primary_media.id }}" data-src="{{ image_url }}" data-sizes="auto" data-widths="[{{ supported_sizes }}]" alt="{{ primary_media.alt | escape }}">

        {%- if show_secondary_media -%}
          {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,300,400,500,600,700,800', image: product.media[1].preview_image -%}{%- endcapture -%}
          {%- assign image_url = product.media[1] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

          <img class="product-item__secondary-image lazyload image--fade-in" data-src="{{ image_url }}" data-sizes="auto" data-widths="[{{ supported_sizes }}]" alt="{{ product.media[1].alt | escape }}">
        {%- endif -%}

        <noscript>
          <img src="{{ primary_media | img_url: '600x' }}" alt="{{ primary_media.alt | escape }}">
        </noscript>
      </div>
    </a>
  {%- endif -%}

  <div class="product-item__info">
    <div class="product-item__info-inner">
      {%- capture price_list -%}
        <div class="product-item__price-list price-list">
          {%- if product.price < product.compare_at_price -%}
            {%- if product.price_varies -%}
              {%- if settings.currency_code_enabled -%}
                {%- capture price_min -%}{{ product.price_min | money_with_currency }}{%- endcapture -%}
                {%- capture price_max -%}{{ product.price_max | money_with_currency }}{%- endcapture -%}
              {%- else -%}
                {%- capture price_min -%}{{ product.price_min | money }}{%- endcapture -%}
                {%- capture price_max -%}{{ product.price_max | money }}{%- endcapture -%}
              {%- endif -%}

              <span class="price price--highlight">
                <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
                {{- 'collection.product.from_price_html' | t: price_min: price_min, price_max: price_max -}}
              </span>

              <span class="price price--compare">
                <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>

                {%- if settings.currency_code_enabled -%}
                  {{- product.compare_at_price_min | money_with_currency -}}
                {%- else -%}
                  {{- product.compare_at_price_min | money -}}
                {%- endif -%}
              </span>
            {%- else -%}
              <span class="price price--highlight">
                <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>

                {%- if settings.currency_code_enabled -%}
                  {{- product.price | money_with_currency -}}
                {%- else -%}
                  {{- product.price | money -}}
                {%- endif -%}
              </span>

              <span class="price price--compare">
                <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>
                {%- if settings.currency_code_enabled -%}
                  {{- product.compare_at_price | money_with_currency -}}
                {%- else -%}
                  {{- product.compare_at_price | money -}}
                {%- endif -%}
              </span>
            {%- endif -%}
          {%- elsif product.price_varies -%}
            {%- if settings.currency_code_enabled -%}
              {%- capture price_min -%}{{ product.price_min | money_with_currency }}{%- endcapture -%}
              {%- capture price_max -%}{{ product.price_max | money_with_currency }}{%- endcapture -%}
            {%- else -%}
              {%- capture price_min -%}{{ product.price_min | money }}{%- endcapture -%}
              {%- capture price_max -%}{{ product.price_max | money }}{%- endcapture -%}
            {%- endif -%}

            <span class="price">
              <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
              {{- 'collection.product.from_price_html' | t: price_min: price_min, price_max: price_max -}}
            </span>
          {%- else -%}
            <span class="price">
              <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
              {%- if settings.currency_code_enabled -%}
                {{- product.price | money_with_currency -}}
              {%- else -%}
                {{- product.price | money -}}
              {%- endif -%}
            </span>
          {%- endif -%}
        </div>

        {%- if product.selected_or_first_available_variant.unit_price_measurement -%}
          <div class="product-item__price-info">
            <div class="unit-price-measurement">
              <span class="unit-price-measurement__price">{{ product.selected_or_first_available_variant.unit_price | money }}</span>
              <span class="unit-price-measurement__separator">/ </span>

              {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
                <span class="unit-price-measurement__reference-value">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_value }}</span>
              {%- endif -%}

              <span class="unit-price-measurement__reference-unit">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}</span>
            </div>
          </div>
        {%- endif -%}
      {%- endcapture -%}

      {%- capture vendor -%}
        {%- if settings.show_vendor -%}
          {%- assign vendor_handle = product.vendor | handle -%}
          {%- assign collection_for_vendor = collections[vendor_handle] -%}

          {%- unless collection_for_vendor.empty? -%}
            <a class="product-item__vendor link" href="{{ collection_for_vendor.url }}">{{ product.vendor }}</a>
          {%- else -%}
            <a class="product-item__vendor link" href="{{ product.vendor | url_for_vendor }}">{{ product.vendor }}</a>
          {%- endunless -%}
        {%- endif -%}
      {%- endcapture -%}

      {%- if settings.product_price_position == 'before_title' -%}
        {{ price_list }}
      {%- endif -%}

      {%- if settings.product_price_position == 'after_title' -%}
        {{ vendor }}
      {%- endif -%}

      <a href="{{ filtered_variant.url | default: product.url }}" class="product-item__title text--strong link">{{ product.title }}</a>

      {%- if settings.product_price_position == 'before_title' -%}
        {{ vendor }}
      {%- endif -%}

      {%- if settings.show_color_swatch and template != 'blog' -%}
        {%- capture color_swatch -%}
          {%- capture color_name -%}{{ section.id }}-{{ product.id }}{%- endcapture -%}

          {%- for option in product.options_with_values -%}
            {%- assign downcased_option = option.name | downcase -%}

            {%- if color_label contains downcased_option -%}
              {%- assign variant_option = 'option' | append: forloop.index -%}
              {%- assign value_to_match = filtered_variant[variant_option] | default: option.selected_value -%}

              {%- assign color_swatch_config = settings.color_swatch_config | newline_to_br | split: '<br />' -%}

              {%- for value in option.values -%}
                {%- assign downcased_value = value | downcase -%}
                {%- capture color_id -%}{{ color_name }}-{{ forloop.index }}{%- endcapture -%}

                {%- for variant in product.variants -%}
                  {%- if variant[variant_option] == value -%}
                    {%- assign variant_for_value = variant -%}
                    {%- break -%}
                  {%- endif -%}
                {%- endfor -%}

                <div class="color-swatch {% if downcased_value == 'white' or downcased_value == 'blanc' %}color-swatch--white{% endif %}">
                  {%- if variant_for_value.featured_media -%}
                    {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,300,400,500,600,700,800', image: variant_for_value.featured_media.preview_image -%}{%- endcapture -%}
                    {%- assign image_url = variant_for_value.featured_media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  {%- endif -%}

                  <input class="color-swatch__radio" type="radio" name="{{ color_name }}" id="{{ color_id }}" value="{{ value | escape }}" {% if value_to_match == value %}checked="checked"{% endif %} data-variant-url="{{ variant_for_value.url }}" {% if variant_for_value.featured_media %}data-media-id="{{ variant_for_value.featured_media.id }}" data-image-url="{{ image_url }}" data-image-widths="[{{ supported_sizes }}]" data-image-aspect-ratio="{{ variant_for_value.featured_media.preview_image.aspect_ratio }}"{% endif %} aria-label="{{ value | escape }}">
                  <label class="color-swatch__item" for="{{ color_id }}" style="{% render 'color-swatch-style', color_swatch_config: color_swatch_config, value: downcased_value %}" title="{{ value | escape }}">
                    <span class="visually-hidden">{{ value }}</span>
                  </label>
                  <a href="{{ product.url }}" class="color-swatch__item-link">+{{ option.values.size | minus: forloop.index0 }}</a>
                </div>
              {%- endfor -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endcapture -%}

        {%- if color_swatch != blank -%}
          <div class="product-item__swatch-list">
            <div class="color-swatch-list">
              {{ color_swatch }}
            </div>
          </div>
        {%- endif -%}
      {%- endif -%}

      {%- if settings.product_price_position == 'after_title' -%}
        {{ price_list }}
      {%- endif -%}

      {%- if settings.show_reviews_badge -%}
        <a class="product-item__reviews-badge link" href="{{ product.url }}#product-reviews">
          {%- render 'product-rating', product: product -%}
        </a>
      {%- endif -%}

      {%- if settings.show_inventory_quantity and product.variants.first.inventory_management != blank and product.template_suffix != 'pre-order' -%}
        {%- if product.available -%}
          {%- assign should_calculate_inventory = true -%}

          {%- for variant in product.variants -%}
            {%- comment -%}
              If we have one variant that is set to "continue" or that do not have any inventory management, then we skip the calculation of inventory as this
              means at least one of the variant is always purchasable
            {%- endcomment -%}

            {%- if variant.inventory_policy == 'continue' or variant.inventory_management == null -%}
              {%- assign should_calculate_inventory = false -%}
              {%- break -%}
            {%- endif -%}
          {%- endfor -%}

          {%- if should_calculate_inventory and settings.low_inventory_threshold > 0 -%}
            {%- assign all_inventory = 0 -%}

            {%- for variant in product.variants -%}
              {%- if variant.inventory_management -%}
                {%- assign all_inventory = variant.inventory_quantity | at_least: 0 | plus: all_inventory -%}
              {%- endif -%}
            {%- endfor -%}

            {%- if all_inventory <= settings.low_inventory_threshold -%}
              <span class="product-item__inventory inventory inventory--low">{{ 'collection.product.low_stock_with_quantity_count' | t: count: all_inventory }}</span>
            {%- else -%}
              <span class="product-item__inventory inventory inventory--high">{{ 'collection.product.in_stock_with_quantity_count' | t: count: all_inventory }}</span>
            {%- endif -%}
          {%- else -%}
            {%- if product.variants.first.inventory_policy == 'continue' and product.variants.first.inventory_quantity <= 0 and product.variants.first.requires_shipping -%}
              <span class="product-item__inventory inventory inventory--high">{{ 'collection.product.oversell_stock' | t }}</span>
            {%- else -%}
              <span class="product-item__inventory inventory inventory--high">{{ 'collection.product.in_stock' | t }}</span>
            {%- endif -%}
          {%- endif -%}
        {%- else -%}
          <span class="product-item__inventory inventory">{{ 'collection.product.sold_out' | t }}</span>
        {%- endif -%}
      {%- endif -%}
    </div>

    {%- if request.page_type == 'collection' or request.page_type == 'search' or show_add_to_cart -%}
      {%- if section.settings.show_quick_view == 'list_grid' or section.settings.show_quick_buy == 'list_grid' or show_add_to_cart -%}
        {%- assign product_form_classes = 'product-item__action-list button-stack' -%}
      {%- else -%}
        {%- assign product_form_classes = 'product-item__action-list product-item__action-list--list-view-only button-stack' -%}
      {%- endif -%}

      {%- assign form_id = 'product_form_id_' | append: product.id | append: '_' | append: section.id -%}

      {%- if product.template_suffix == 'contact' -%}
        <div class="{{ product_form_classes }}">
          <a href="mailto:{{ shop.email }}" class="product-item__action-button button button--small button--primary">
            {{- 'product.form.contact_us' | t -}}
          </a>
        </div>
      {%- else -%}
        {%- form 'product', product, id: form_id, class: product_form_classes -%}
          <input type="hidden" name="quantity" value="1">
          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

          {%- if section.settings.show_quick_buy == 'list_grid' or show_add_to_cart -%}
            {%- assign quick_buy_classes = 'product-item__action-button button button--small button--primary' -%}
          {%- else -%}
            {%- assign quick_buy_classes = 'product-item__action-button product-item__action-button--list-view-only button button--small button--primary' -%}
          {%- endif -%}

          {%- if product.available -%}
            {%- if product.variants.size == 1 -%}
              <button type="submit" class="{{ quick_buy_classes }}" data-action="add-to-cart">
                {%- if product.template_suffix == 'pre-order' -%}
                  {{- 'collection.product.pre_order' | t -}}
                {%- else -%}
                  {{- 'collection.product.add_to_cart' | t -}}
                {%- endif -%}
              </button>
            {%- else -%}
              <a href="{{ product.url }}" class="{{ quick_buy_classes }}">{{ 'collection.product.choose_options' | t }}</a>
            {%- endif -%}
          {%- else -%}
            <button class="{{ quick_buy_classes | replace: 'button--primary', 'button--disabled' }}" disabled>{{ 'collection.product.sold_out' | t }}</button>
          {%- endif -%}

          {%- if section.settings.show_quick_view == 'list_grid' -%}
            {%- assign quick_view_classes = 'product-item__action-button button button--small button--ternary hidden-phone' -%}
          {%- else -%}
            {%- assign quick_view_classes = 'product-item__action-button product-item__action-button--list-view-only button button--small button--ternary hidden-phone' -%}
          {%- endif -%}

          <button type="button" class="{{ quick_view_classes }}" data-action="open-modal" data-secondary-action="open-quick-view" aria-controls="modal-quick-view-{{ section.id }}" data-product-url="{{ product.url }}">{{ 'collection.product.quick_view' | t }}</button>
        {%- endform -%}
      {%- endif -%}
    {%- endif -%}
  </div>
</div>

{% comment %}
    ------------------------------------------------------------------------------
    PRODUCT FORM
    ------------------------------------------------------------------------------
    {% endcomment %}

    {% assign isSample = false %}                 
    {% for collection in product.collections %}
      {% if collection.title == 'Samples' %}
          {% assign isSample = true %}
      {% endif %}
    {% endfor %}       
        
        
        
        {%- assign color_label = 'color,colour,couleur,cor,colore,farbe,색,色,カラー,färg,farve,szín,barva' | split: ',' -%}
    
        {%- form 'product', product, class: 'product-form' -%}
          {%- unless product.has_only_default_variant -%}
            <div class="product-form__variants">
              {%- for option in product.options_with_values -%}
                {%- assign downcase_option = option.name | downcase -%}
                {%- capture option_name -%}{{ section.id }}-{{ product.id }}-{{ forloop.index }}{%- endcapture -%}
    
                {%- assign option_selector_type = 'select' -%}
    
                {%- if section.settings.color_mode != 'block' and section.settings.color_mode != 'dropdown' and color_label contains downcase_option -%}
                  {%- comment -%}NOTE: even if the merchant is using the mode to display variant images, if ALL variant do not have an associated image, we fallback to color{%- endcomment -%}
    
                  {%- assign has_image_attached_to_all_variants = true -%}
    
                  {%- for variant in product.variants -%}
                    {%- unless variant.image -%}
                      {%- assign has_image_attached_to_all_variants = false -%}
                      {%- break -%}
                    {%- endunless -%}
                  {%- endfor -%}
    
                  {%- if section.settings.color_mode == 'color' or has_image_attached_to_all_variants == false -%}
                    {%- assign option_selector_type = 'color' -%}
                  {%- else -%}
                    {%- assign option_selector_type = 'variant' -%}
                  {%- endif -%}
                {%- else -%}
                  {%- if color_label contains downcase_option -%}
                    {%- if section.settings.color_mode == 'block' -%}
                      {%- assign option_selector_type = 'block' -%}
                    {%- endif -%}
                  {%- elsif section.settings.selector_mode == 'block' -%}
                    {%- assign option_selector_type = 'block' -%}
                  {%- endif -%}
                {%- endif -%}
    
                <div class="product-form__option" data-selector-type="{{ option_selector_type }}">
                  {%- case option_selector_type -%}
                    {%- when 'color' -%}
                      <span class="product-form__option-name text--strong">{{ option.name }}: <span class="product-form__selected-value">{{ option.selected_value }}</span></span>
    
                      <div class="color-swatch-list color-swatch-list--large">
                        {%- for value in option.values -%}
                          {%- assign downcased_value = value | downcase -%}
                          {%- capture color_id -%}{{ option_name }}-{{ forloop.index }}{%- endcapture -%}
    
                          {%- assign color_swatch_name = value | handle | append: '.png' -%}
                          {%- assign color_swatch_image = images[color_swatch_name] -%}
    
                          <div class="color-swatch {% if downcased_value == 'white' or downcased_value == 'blanc' %}color-swatch--white{% endif %}">
                            <input class="color-swatch__radio product-form__single-selector" type="radio" name="{{ option_name }}" id="{{ color_id }}" value="{{ value | escape }}" {% if option.selected_value == value %}checked{% endif %} data-option-position="{{ option.position }}">
                            <label class="color-swatch__item lazyload" for="{{ color_id }}" {% if color_swatch_image != blank %}data-bg="{{ color_swatch_image | img_url: '64x64' }}"{% else %}style="background-color: {{ value | replace: ' ', '' | downcase }}"{% endif %} title="{{ value | escape }}">
                              <span class="visually-hidden">{{ value }}</span>
                              {%- render 'icon', icon: 'cross-sold-out' -%}
                            </label>
                          </div>
                        {%- endfor -%}
                      </div>
                    {%- when 'variant' -%}
                      <span class="product-form__option-name text--strong">{{ option.name }}: <span class="product-form__selected-value">{{ option.selected_value }}</span></span>
    
                      <div class="variant-swatch-list">
                        {%- capture option_name -%}option{{ option.position }}{%- endcapture -%}
    
                        {%- for value in option.values -%}
                          {%- capture variant_swatch_id -%}{{ option_name }}-{{ forloop.index }}{%- endcapture -%}
    
                          {%- for variant in product.variants -%}
                            {%- if variant[option_name] == value and variant.image -%}
                              <div class="variant-swatch">
                                <input class="variant-swatch__radio product-form__single-selector" type="radio" name="{{ option_name }}" id="{{ variant_swatch_id }}" value="{{ value | escape }}" {% if option.selected_value == value %}checked{% endif %} data-option-position="{{ option.position }}">
    
                                <label class="variant-swatch__item" for="{{ variant_swatch_id }}" title="{{ value | escape }}">
                                  <div class="aspect-ratio" style="padding-bottom: {{ 100.0 | divided_by: variant.image.aspect_ratio }}%">
                                    <img src="{{ variant.image | img_url: '120x' }}" alt="{{ variant.image.alt | escape }}">
                                  </div>
    
                                  {% render 'icon', icon: 'cross-sold-out' %}
                                </label>
                              </div>
    
                              {%- break -%}
                            {%- endif -%}
                          {%- endfor -%}
                        {%- endfor -%}
                      </div>
                    {%- when 'block' -%}
                      <span class="product-form__option-name text--strong">{{ option.name }}: <span class="product-form__selected-value">{{ option.selected_value }}</span></span>
    
                      <div class="block-swatch-list">
                        {%- for value in option.values -%}
                          {%- capture block_swatch_id -%}{{ option_name }}-{{ forloop.index }}{%- endcapture -%}
    
                          <div class="block-swatch">
                            <input class="block-swatch__radio product-form__single-selector" type="radio" name="{{ option_name }}" id="{{ block_swatch_id }}" value="{{ value | escape }}" {% if option.selected_value == value %}checked{% endif %} data-option-position="{{ option.position }}">
                            <label class="block-swatch__item" for="{{ block_swatch_id }}" title="{{ value | escape }}">
                              <span class="block-swatch__item-text">{{ value }}</span>
                            </label>
                          </div>
                        {%- endfor -%}
                      </div>
                    {%- when 'select' -%}
                      <label for="{{ option_name }}" class="product-form__option-name text--strong">{{ option.name }}: <span class="product-form__selected-value">{{ option.selected_value }}</span></label>
    
                      <div class="select-wrapper select-wrapper--primary">
                        {%- render 'icon', icon: 'arrow-bottom' -%}
    
                        <select class="product-form__single-selector" name="{{ option_name }}" id="{{ option_name }}" data-option-position="{{ option.position }}">
                          {%- for value in option.values -%}
                            <option value="{{ value | escape }}" {% if value == option.selected_value %}selected="selected"{% endif %}>{{ value }}</option>
                          {%- endfor -%}
                        </select>
                      </div>
                  {%- endcase -%}
                </div>
              {%- endfor -%}
    
              <div class="no-js product-form__option">
                <label for="product-select-{{ product.id }}">{{ 'product.form.variant' | t }}</label>
    
                <div class="select-wrapper select-wrapper--primary">
                  <select id="product-select-{{ product.id }}" name="id">
                    {%- for variant in product.variants -%}
                      <option {% if variant == selected_variant %}selected="selected"{% endif %} {% unless variant.available %}disabled="disabled"{% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money }}</option>
                    {%- endfor -%}
                  </select>
                </div>
              </div>
            </div>
          {%- else -%}
            <input type="hidden" name="id" data-sku="{{ selected_variant.sku }}" value="{{ selected_variant.id }}">
          {%- endunless -%}
    
          <div class="product-form__info-list">
            <div class="pk-left">
            <div class="product-form__info-item">
              <span class="product-form__info-title text--strong">{{ 'product.form.price' | t }}:</span>
    
              <div class="product-form__info-content" role="region" aria-live="polite">
                <div class="price-list">
                  {%- if selected_variant.compare_at_price > selected_variant.price -%}
                    <span class="price price--highlight">
                      <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
                      {{- selected_variant.price | money -}}
                    </span>
    
                    <span class="price price--compare">
                      <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>
                      {{- selected_variant.compare_at_price | money -}}
                    </span>
                  {%- else -%}
                    <span class="price">
                      <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
                      {{- selected_variant.price | money -}}  <span class="gst">Excl GST</span>
                    </span>
                  {%- endif -%}
                </div>
    
                <div class="product-form__price-info" style="display: {% if selected_variant.unit_price_measurement %}block{% else %}none{% endif %}">
                  <div class="unit-price-measurement">
                    <span class="unit-price-measurement__price">{{ selected_variant.unit_price | money }}</span>
                    <span class="unit-price-measurement__separator">/ </span>
    
                    <span class="unit-price-measurement__reference-value" {%- if selected_variant.unit_price_measurement.reference_value == 1 -%}style="display: none"{% endif %}>
                      {{- selected_variant.unit_price_measurement.reference_value -}}
                    </span>
    
                    <span class="unit-price-measurement__reference-unit">{{ selected_variant.unit_price_measurement.reference_unit }}</span>
                  </div>
                </div>
    
                <div class="product-form__installments-banner">
                  {{- form | payment_terms -}}
                </div>
    
                {%- if section.settings.show_taxes_included -%}
                  {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
                    <p class="product-form__price-info">
                      {%- if cart.taxes_included -%}
                        {{ 'product.general.include_taxes' | t }}
                      {%- endif -%}
    
                      {%- if shop.shipping_policy.body != blank -%}
                        {{ 'product.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                      {%- endif -%}
                    </p>
                  {%- endif -%}
                {%- endif -%}
              </div>
            </div>
    
            {%- if section.settings.show_inventory_quantity and product.template_suffix != 'pre-order' -%}
              <div class="product-form__info-item">
                <span class="product-form__info-title text--strong">{{ 'product.form.inventory' | t }}:</span>
    
                <div class="product-form__info-content">
                  {%- if selected_variant.available -%}
                    {%- if selected_variant.inventory_management and selected_variant.inventory_policy == 'deny' and section.settings.low_inventory_threshold > 0 -%}
                      {%- if selected_variant.inventory_quantity <= section.settings.low_inventory_threshold -%}
                        <span class="product-form__inventory inventory inventory--low">{{ 'product.form.low_stock_with_quantity_count' | t: count: selected_variant.inventory_quantity }}</span>
                      {%- else -%}
                        <span class="product-form__inventory inventory inventory--high">{{ 'product.form.in_stock_with_quantity_count' | t: count: selected_variant.inventory_quantity }}</span>
                      {%- endif -%}
                    {%- else -%}
                      {%- if selected_variant.inventory_policy == 'continue' and selected_variant.inventory_quantity <= 0 and selected_variant.requires_shipping -%}
                        <span class="product-form__inventory inventory inventory--high">{{ 'product.form.oversell_stock' | t }}</span>
                      {%- else -%}
                        <span class="product-form__inventory inventory inventory--high">{{ 'product.form.in_stock' | t }}</span>
                      {%- endif -%}
                    {%- endif -%}
                  {%- else -%}
                    <span class="product-form__inventory inventory">{{ 'product.form.sold_out' | t }}</span>
                  {%- endif -%}
    
                  {%- for tag in product.tags -%}
                    {%- if tag contains '__stock:' -%}
                      {%- assign stock_countdown_max = tag | split: '__stock:' | last | times: 1.0 -%}
                      {%- assign stock_countdown_progress = selected_variant.inventory_quantity | divided_by: stock_countdown_max | times: 100.0 | at_least: 0 | at_most: 100 -%}
    
                      <span class="inventory-bar {% if stock_countdown_progress == 0 %}inventory-bar--hidden{% endif %}" data-stock-countdown-max="{{ stock_countdown_max }}">
                        <span class="inventory-bar__progress" style="width: 100%"></span>
                      </span>
                      {%- break -%}
                    {%- endif -%}
                  {%- endfor -%}
                </div>
              </div>
            {%- endif -%}
    
            {%- if product.template_suffix != 'contact' -%}
              {%- if section.settings.show_quantity_selector and isSample == false -%}
    
            
                <div class="product-form__info-item product-form__info-item--quantity">
                  <label for="{{ section.id }}-{{ product.id }}-quantity" class="product-form__info-title text--strong">{{ 'product.form.quantity' | t }}:</label>
    
                  <div class="product-form__info-content">
                    <div class="quantity-selector quantity-selector--product">
                      
        {% comment %}          
                      <button type="button" class="quantity-selector__button" data-action="decrease-picker-quantity" aria-label="{{ 'cart.items.decrease_quantity' | t }}" title="{{ 'cart.items.decrease_quantity' | t }}">{% render 'icon', icon: 'minus' %}</button>
                      <input name="quantity" aria-label="{{ 'product.form.quantity' | t }}" class="quantity-selector__value" inputmode="numeric" value="1" size="3">
                      <button type="button" class="quantity-selector__button" data-action="increase-picker-quantity" aria-label="{{ 'cart.items.increase_quantity' | t }}" title="{{ 'cart.items.increase_quantity' | t }}">{% render 'icon', icon: 'plus' %}</button>
        {% endcomment %}
              <select
                      id="Quantity" name="quantity"
                      class="form-field-input form-field-select"
                      aria-label="{{ 'general.general.quantity' | t }}"
                      data-quantity-select
                      >
                {% if product.metafields["global"]["Qty-1"] %}
                <option selected value="{{ product.metafields["global"]["Qty-1"] }}">
                  {{ product.metafields["global"]["Qty-1"] }}
                </option>            
                {% if product.metafields["global"]["Qty-2"] %}
                <option value="{{ product.metafields["global"]["Qty-2"] }}">
                  {{ product.metafields["global"]["Qty-2"] }}
                </option>
                {% endif %}
                {% if product.metafields["global"]["Qty-3"] %}
                <option value="{{ product.metafields["global"]["Qty-3"] }}">
                  {{ product.metafields["global"]["Qty-3"] }}
                </option>
                {% endif %}
                {% if product.metafields["global"]["Qty-4"] %}
                <option value="{{ product.metafields["global"]["Qty-4"] }}">
                  {{ product.metafields["global"]["Qty-4"] }}
                </option>
                {% endif %}
                {% if product.metafields["global"]["Qty-5"] %}
                <option value="{{ product.metafields["global"]["Qty-5"] }}">
                  {{ product.metafields["global"]["Qty-5"] }}
                </option>
                {% endif %}
                {% if product.metafields["global"]["Qty-6"] %}
                <option value="{{ product.metafields["global"]["Qty-6"] }}">
                  {{ product.metafields["global"]["Qty-6"] }}
                </option>
                {% endif %}
                {% if product.metafields["global"]["Qty-7"] %}
                <option value="{{ product.metafields["global"]["Qty-7"] }}">
                  {{ product.metafields["global"]["Qty-7"] }}
                </option>
                {% endif %}
                {% if product.metafields["global"]["Qty-8"] %}
                <option value="{{ product.metafields["global"]["Qty-8"] }}">
                  {{ product.metafields["global"]["Qty-8"] }}
                </option>
                {% endif %}
                {% else %}
                {% for i in (1..9) %}
                <option {% if i == 1 %}selected {% endif %}value="{{ i }}">
                  {{ i }}
                </option>
                {% endfor %}              
                {% endif %}
              </select>                
                    
                    
                    
                    </div>
                  </div>
                </div>
    
           
            
              {%- else -%}
                <input type="hidden" name="quantity" value="1">
              {%- endif -%}
            {%- endif -%}
        </div>
        
        </div>