{%- assign selected_variant = product.selected_or_first_available_variant -%}

<div class="card {% if product.media.size > 0 %}card--collapsed{% endif %} {% if template.name == 'product' %}card--sticky{% endif %}">
  {%- if section.settings.enable_image_zoom -%}
    <div id="product-zoom-{{ section.id }}" class="product__zoom-wrapper"></div>
  {%- endif -%}

  <div class="card__section">
    {% comment %}
    ------------------------------------------------------------------------------
    PRODUCT META
    ------------------------------------------------------------------------------
    {% endcomment %}

    {%- if section.settings.show_share_buttons -%}
      {%- capture share_buttons -%}
        {%- assign share_url = shop.url | append: product.url | url_param_escape -%}
        {%- assign twitter_text = product.title | url_param_escape -%}
        {%- assign pinterest_description = product.description | strip_html | truncatewords: 15 | url_param_escape -%}
        {%- assign pinterest_image = product.featured_media | img_url: '1024x' | prepend: 'https:' -%}

        <ul class="social-media__item-list list--unstyled" role="list">
          <li class="social-media__item social-media__item--facebook">
            <a href="https://www.facebook.com/sharer.php?u={{ share_url }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.facebook_share' | t }}">{%- render 'icon', icon: 'facebook' -%}</a>
          </li>
          <li class="social-media__item social-media__item--instagram">
            <a href="https://www.instagram.com/p/COq-8R5n5jr/" target="_blank" rel="noopener" aria-label="Follow us on Instagram" aria-describedby="a11y-new-window-message">{%- render 'icon', icon: 'instagram' -%}</a>
          </li>

          <li class="social-media__item social-media__item--pinterest">
            <a href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.pinterest_pin' | t }}">{%- render 'icon', icon: 'pinterest' -%}</a>
          </li>

<!--           <li class="social-media__item social-media__item--twitter">
            <a href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.twitter_tweet' | t }}">{%- render 'icon', icon: 'twitter' -%}</a>
          </li> -->

          <li class="social-media__item">
            <a href="mailto:?&subject={{ product.title | escape }}&body={{ share_url }}" aria-label="{{ 'general.social.email_share' | t }}">{% render 'icon', icon: 'email' %}</a>
          </li>
        </ul>
      {%- endcapture -%}
    {%- endif -%}

    <div class="product-meta">
      {%- if template.name == 'product' and template != 'product.quick-view' -%}
        <h1 class="product-meta__title heading h1">{{ product.title }}</h1>
      {%- else -%}
        <h3 class="product-meta__title heading h2">
          <a href="{{ product.url }}">{{ product.title }}</a>
        </h3>
      {%- endif -%}

      {%- capture product_labels -%}
        {%- for tag in product.tags -%}
          {%- if tag contains '__label:' -%}
            <span class="product-label product-label--custom1">{{ tag | split: '__label:' | last }}</span>
          {%- endif -%}

          {%- if tag contains '__label1:' -%}
            <span class="product-label product-label--custom1">{{ tag | split: '__label1:' | last }}</span>
          {%- endif -%}

          {%- if tag contains '__label2:' -%}
            <span class="product-label product-label--custom2">{{ tag | split: '__label2:' | last }}</span>
          {%- endif -%}
        {%- endfor -%}

        {%- if settings.show_discount -%}
          {%- assign savings = 0 -%}

          {%- if settings.discount_mode == 'percentage' -%}
            {%- assign savings = selected_variant.compare_at_price | minus: selected_variant.price | times: 100.0 | divided_by: selected_variant.compare_at_price | round | append: '%' -%}
          {%- else -%}
            {%- capture savings -%}<span>{{ selected_variant.compare_at_price | minus: selected_variant.price | money }}</span>{%- endcapture -%}
          {%- endif -%}

          <span class="product-label product-label--on-sale" {% unless selected_variant.price < selected_variant.compare_at_price %}style="display: none"{% endunless %}>{{ 'collection.product.discount_html' | t: savings: savings }}</span>
        {%- endif -%}
      {%- endcapture -%}

      {%- if product_labels != blank -%}
        <div class="product-meta__label-list">
          {{- product_labels -}}
        </div>
      {%- endif -%}

      {%- if section.settings.show_vendor or section.settings.show_sku -%}
        <div class="product-meta__reference">
          {%- if section.settings.show_vendor -%}
            {%- assign vendor_handle = product.vendor | handle -%}
            {%- assign collection_for_vendor = collections[vendor_handle] -%}

            {%- unless collection_for_vendor.empty? -%}
              <a class="product-meta__vendor link link--accented" href="{{ collection_for_vendor.url }}">{{ product.vendor }}</a>
            {%- else -%}
              <a class="product-meta__vendor link link--accented" href="{{ product.vendor | url_for_vendor }}">{{ product.vendor }}</a>
            {%- endunless -%}
          {%- endif -%}

          {%- if section.settings.show_sku -%}
            <span class="product-meta__sku" {% if selected_variant.sku == blank %}style="display: none"{% endif %}>
              {{- 'product.general.sku' | t -}} <span class="product-meta__sku-number">{{ selected_variant.sku }}</span>
            </span>
          {%- endif -%}
        </div>
      {%- endif -%}

      {%- if section.settings.show_reviews_badge -%}
        <a href="{% if template.name != 'product' or template == 'product.quick-view' %}{{ product.url | within: collection }}{% endif %}#product-reviews" class="product-meta__reviews-badge link" data-offset="30">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}">
            {%- comment -%}Display a placeholder, to allocate space{%- endcomment -%}
            <div class="spr-badge" style="opacity: 0">
              <span class="spr-starrating spr-badge-starrating">
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
              </span>

              <span class="spr-badge-caption">filler</span>
            </div>
          </span>
        </a>
      {%- endif -%}

      {%- if section.settings.show_share_buttons -%}
        <div class="product-meta__share-buttons hidden-phone">
          {{ share_buttons }}
        </div>
      {%- endif -%}
    </div>

    <hr class="card__separator">

    {%- if request.page_type == 'index' and section.settings.show_description and product.description != blank and section.settings.description_below_add_to_cart == false -%}
      <div class="product-meta__description rte">
        {{ product.description | remove: 'data-section-type="product"' }}
      </div>
    {%- endif -%}

    {% comment %}
    ------------------------------------------------------------------------------
    PRODUCT FORM
    ------------------------------------------------------------------------------
    {% endcomment %}

    {%- assign color_label = 'color,colour,couleur,cor,colore,farbe,색,色,カラー,färg,farve,szín,barva' | split: ',' -%}

    {%- form 'product', product, class: 'product-form' -%}
      {%- unless product.has_only_default_variant -%}
        <div class="product-form__variants">
          {%- for option in product.options_with_values -%}
            {%- assign downcase_option = option.name | downcase -%}
            {%- capture option_name -%}{{ section.id }}-{{ product.id }}-{{ forloop.index }}{%- endcapture -%}

            {%- assign option_selector_type = 'select' -%}

            {%- if section.settings.color_mode != 'block' and section.settings.color_mode != 'dropdown' and color_label contains downcase_option -%}
              {%- comment -%}NOTE: even if the merchant is using the mode to display variant images, if ALL variant do not have an associated image, we fallback to color{%- endcomment -%}

              {%- assign has_image_attached_to_all_variants = true -%}

              {%- for variant in product.variants -%}
                {%- unless variant.image -%}
                  {%- assign has_image_attached_to_all_variants = false -%}
                  {%- break -%}
                {%- endunless -%}
              {%- endfor -%}

              {%- if section.settings.color_mode == 'color' or has_image_attached_to_all_variants == false -%}
                {%- assign option_selector_type = 'color' -%}
              {%- else -%}
                {%- assign option_selector_type = 'variant' -%}
              {%- endif -%}
            {%- else -%}
              {%- if color_label contains downcase_option -%}
                {%- if section.settings.color_mode == 'block' -%}
                  {%- assign option_selector_type = 'block' -%}
                {%- endif -%}
              {%- elsif section.settings.selector_mode == 'block' -%}
                {%- assign option_selector_type = 'block' -%}
              {%- endif -%}
            {%- endif -%}

            <div class="product-form__option" data-selector-type="{{ option_selector_type }}">
              {%- case option_selector_type -%}
                {%- when 'color' -%}
                  <span class="product-form__option-name text--strong">{{ option.name }}: <span class="product-form__selected-value">{{ option.selected_value }}</span></span>

                  <div class="color-swatch-list color-swatch-list--large">
                    {%- for value in option.values -%}
                      {%- assign downcased_value = value | downcase -%}
                      {%- capture color_id -%}{{ option_name }}-{{ forloop.index }}{%- endcapture -%}

                      {%- assign color_swatch_name = value | handle | append: '.png' -%}
                      {%- assign color_swatch_image = images[color_swatch_name] -%}

                      <div class="color-swatch {% if downcased_value == 'white' or downcased_value == 'blanc' %}color-swatch--white{% endif %}">
                        <input class="color-swatch__radio product-form__single-selector" type="radio" name="{{ option_name }}" id="{{ color_id }}" value="{{ value | escape }}" {% if option.selected_value == value %}checked{% endif %} data-option-position="{{ option.position }}">
                        <label class="color-swatch__item lazyload" for="{{ color_id }}" {% if color_swatch_image != blank %}data-bg="{{ color_swatch_image | img_url: '64x64' }}"{% else %}style="background-color: {{ value | replace: ' ', '' | downcase }}"{% endif %} title="{{ value | escape }}">
                          <span class="visually-hidden">{{ value }}</span>
                          {%- render 'icon', icon: 'cross-sold-out' -%}
                        </label>
                      </div>
                    {%- endfor -%}
                  </div>
                {%- when 'variant' -%}
                  <span class="product-form__option-name text--strong">{{ option.name }}: <span class="product-form__selected-value">{{ option.selected_value }}</span></span>

                  <div class="variant-swatch-list">
                    {%- capture option_name -%}option{{ option.position }}{%- endcapture -%}

                    {%- for value in option.values -%}
                      {%- capture variant_swatch_id -%}{{ option_name }}-{{ forloop.index }}{%- endcapture -%}

                      {%- for variant in product.variants -%}
                        {%- if variant[option_name] == value and variant.image -%}
                          <div class="variant-swatch">
                            <input class="variant-swatch__radio product-form__single-selector" type="radio" name="{{ option_name }}" id="{{ variant_swatch_id }}" value="{{ value | escape }}" {% if option.selected_value == value %}checked{% endif %} data-option-position="{{ option.position }}">

                            <label class="variant-swatch__item" for="{{ variant_swatch_id }}" title="{{ value | escape }}">
                              <div class="aspect-ratio" style="padding-bottom: {{ 100.0 | divided_by: variant.image.aspect_ratio }}%">
                                <img src="{{ variant.image | img_url: '120x' }}" alt="{{ variant.image.alt | escape }}">
                              </div>

                              {% render 'icon', icon: 'cross-sold-out' %}
                            </label>
                          </div>

                          {%- break -%}
                        {%- endif -%}
                      {%- endfor -%}
                    {%- endfor -%}
                  </div>
                {%- when 'block' -%}
                  <span class="product-form__option-name text--strong">{{ option.name }}: <span class="product-form__selected-value">{{ option.selected_value }}</span></span>

                  <div class="block-swatch-list">
                    {%- for value in option.values -%}
                      {%- capture block_swatch_id -%}{{ option_name }}-{{ forloop.index }}{%- endcapture -%}

                      <div class="block-swatch">
                        <input class="block-swatch__radio product-form__single-selector" type="radio" name="{{ option_name }}" id="{{ block_swatch_id }}" value="{{ value | escape }}" {% if option.selected_value == value %}checked{% endif %} data-option-position="{{ option.position }}">
                        <label class="block-swatch__item" for="{{ block_swatch_id }}" title="{{ value | escape }}">
                          <span class="block-swatch__item-text">{{ value }}</span>
                        </label>
                      </div>
                    {%- endfor -%}
                  </div>
                {%- when 'select' -%}
                  <label for="{{ option_name }}" class="product-form__option-name text--strong">{{ option.name }}: <span class="product-form__selected-value">{{ option.selected_value }}</span></label>

                  <div class="select-wrapper select-wrapper--primary">
                    {%- render 'icon', icon: 'arrow-bottom' -%}

                    <select class="product-form__single-selector" name="{{ option_name }}" id="{{ option_name }}" data-option-position="{{ option.position }}">
                      {%- for value in option.values -%}
                        <option value="{{ value | escape }}" {% if value == option.selected_value %}selected="selected"{% endif %}>{{ value }}</option>
                      {%- endfor -%}
                    </select>
                  </div>
              {%- endcase -%}
            </div>
          {%- endfor -%}

          <div class="no-js product-form__option">
            <label for="product-select-{{ product.id }}">{{ 'product.form.variant' | t }}</label>

            <div class="select-wrapper select-wrapper--primary">
              <select id="product-select-{{ product.id }}" name="id">
                {%- for variant in product.variants -%}
                  <option {% if variant == selected_variant %}selected="selected"{% endif %} {% unless variant.available %}disabled="disabled"{% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money }}</option>
                {%- endfor -%}
              </select>
            </div>
          </div>
        </div>
      {%- else -%}
        <input type="hidden" name="id" data-sku="{{ selected_variant.sku }}" value="{{ selected_variant.id }}">
      {%- endunless -%}

      <div class="product-form__info-list">
        <div class="product-form__info-item">
          <span class="product-form__info-title text--strong">{{ 'product.form.price' | t }}:</span>

          <div class="product-form__info-content" role="region" aria-live="polite">
            <div class="price-list">
              {%- if selected_variant.compare_at_price > selected_variant.price -%}
                <span class="price price--highlight">
                  <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
                  {{- selected_variant.price | money -}}
                </span>

                <span class="price price--compare">
                  <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>
                  {{- selected_variant.compare_at_price | money -}}
                </span>
              {%- else -%}
              <span class="price">
                <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
                {{- selected_variant.price | money -}}  <span class="gst">Excl GST</span>
              </span>
                </span>
              {%- endif -%}
            </div>

            <div class="product-form__price-info" style="display: {% if selected_variant.unit_price_measurement %}block{% else %}none{% endif %}">
              <div class="unit-price-measurement">
                <span class="unit-price-measurement__price">{{ selected_variant.unit_price | money }}</span>
                <span class="unit-price-measurement__separator">/ </span>

                <span class="unit-price-measurement__reference-value" {%- if selected_variant.unit_price_measurement.reference_value == 1 -%}style="display: none"{% endif %}>
                  {{- selected_variant.unit_price_measurement.reference_value -}}
                </span>

                <span class="unit-price-measurement__reference-unit">{{ selected_variant.unit_price_measurement.reference_unit }}</span>
              </div>
            </div>

            <div class="product-form__installments-banner">
              {{- form | payment_terms -}}
            </div>

            {%- if section.settings.show_taxes_included -%}
              {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
                <p class="product-form__price-info">
                  {%- if cart.taxes_included -%}
                    {{ 'product.general.include_taxes' | t }}
                  {%- endif -%}

                  {%- if shop.shipping_policy.body != blank -%}
                    {{ 'product.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
                </p>
              {%- endif -%}
            {%- endif -%}
          </div>
        </div>

        {%- if section.settings.show_inventory_quantity and product.template_suffix != 'pre-order' -%}
          <div class="product-form__info-item">
            <span class="product-form__info-title text--strong">{{ 'product.form.inventory' | t }}:</span>

            <div class="product-form__info-content">
              {%- if selected_variant.available -%}
                {%- if selected_variant.inventory_management and selected_variant.inventory_policy == 'deny' and section.settings.low_inventory_threshold > 0 -%}
                  {%- if selected_variant.inventory_quantity <= section.settings.low_inventory_threshold -%}
                    <span class="product-form__inventory inventory inventory--low">{{ 'product.form.low_stock_with_quantity_count' | t: count: selected_variant.inventory_quantity }}</span>
                  {%- else -%}
                    <span class="product-form__inventory inventory inventory--high">{{ 'product.form.in_stock_with_quantity_count' | t: count: selected_variant.inventory_quantity }}</span>
                  {%- endif -%}
                {%- else -%}
                  {%- if selected_variant.inventory_policy == 'continue' and selected_variant.inventory_quantity <= 0 and selected_variant.requires_shipping -%}
                    <span class="product-form__inventory inventory inventory--high">{{ 'product.form.oversell_stock' | t }}</span>
                  {%- else -%}
                    <span class="product-form__inventory inventory inventory--high">{{ 'product.form.in_stock' | t }}</span>
                  {%- endif -%}
                {%- endif -%}
              {%- else -%}
                <span class="product-form__inventory inventory">{{ 'product.form.sold_out' | t }}</span>
              {%- endif -%}

              {%- for tag in product.tags -%}
                {%- if tag contains '__stock:' -%}
                  {%- assign stock_countdown_max = tag | split: '__stock:' | last | times: 1.0 -%}
                  {%- assign stock_countdown_progress = selected_variant.inventory_quantity | divided_by: stock_countdown_max | times: 100.0 | at_least: 0 | at_most: 100 -%}

                  <span class="inventory-bar {% if stock_countdown_progress == 0 %}inventory-bar--hidden{% endif %}" data-stock-countdown-max="{{ stock_countdown_max }}">
                    <span class="inventory-bar__progress" style="width: 100%"></span>
                  </span>
                  {%- break -%}
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        {%- endif -%}

        {%- if product.template_suffix != 'contact' -%}
          {%- if section.settings.show_quantity_selector -%}
            <div class="product-form__info-item product-form__info-item--quantity">
              <label for="{{ section.id }}-{{ product.id }}-quantity" class="product-form__info-title text--strong">{{ 'product.form.quantity' | t }}:</label>

              <div class="product-form__info-content">
                <div class="quantity-selector quantity-selector--product">
                  <button type="button" class="quantity-selector__button" data-action="decrease-picker-quantity" aria-label="{{ 'cart.items.decrease_quantity' | t }}" title="{{ 'cart.items.decrease_quantity' | t }}">{% render 'icon', icon: 'minus' %}</button>
                  <input name="quantity" aria-label="{{ 'product.form.quantity' | t }}" class="quantity-selector__value" inputmode="numeric" value="1" size="3">
                  <button type="button" class="quantity-selector__button" data-action="increase-picker-quantity" aria-label="{{ 'cart.items.increase_quantity' | t }}" title="{{ 'cart.items.increase_quantity' | t }}">{% render 'icon', icon: 'plus' %}</button>
                </div>
              </div>
            </div>
          {%- else -%}
            <input type="hidden" name="quantity" value="1">
          {%- endif -%}
        {%- endif -%}
      </div>

      <div class="product-form__payment-container">
        {%- if product.template_suffix != 'contact' -%}
          {%- if selected_variant.available -%}
            {%- if product.template_suffix == 'pre-order' -%}
              <button type="submit" class="product-form__add-button button button--primary" data-action="add-to-cart">{{ 'product.form.pre_order' | t }}</button>
            {%- else -%}
              <button type="submit" class="product-form__add-button button button--primary" data-action="add-to-cart">{{ 'product.form.add_to_cart' | t }}</button>
            {%- endif -%}
          {%- else -%}
            <button type="submit" class="product-form__add-button button button--disabled" disabled>{{ 'product.form.sold_out' | t }}</button>
          {%- endif -%}

          {%- if section.settings.show_payment_button and product.template_suffix != 'pre-order' -%}
            {{ form | payment_button }}
          {%- endif -%}
        {%- else -%}
          <a href="mailto:{{ shop.email }}" class="button button--primary">{{ 'product.form.contact_us' | t }}</a>
        {%- endif -%}
              </div>
        {%- comment -%}
        
          --------------------------------------------------------------------------------------
          SECURITY BADGES
          --------------------------------------------------------------------------------------
          {%- endcomment -%}

          {%- if section.settings.show_payment_icons and shop.enabled_payment_types.size > 0 -%}
            {%- assign show_payment_icons = true -%}
          {%- else -%}
            {%- assign show_payment_icons = false -%}
          {%- endif -%}

          {%- if section.settings.custom_security_badge or show_payment_icons -%}
            <div class="product-block-list__item product-block-list__item--trust my-3">
              <div class="card">
                <div class="card__header card__header--flex">
                  <h2 class="card__title heading h3">{{ section.settings.trust_title | escape }}</h2>

                  {%- render 'icon', icon: 'lock', width: 22, height: 24 -%}
                </div>

                <div class="card__section">
                  {%- if show_payment_icons -%}
                    {%- if section.settings.custom_security_badge -%}
                      <p class="card__subtitle heading h6">{{ 'product.general.payment' | t }}</p>
                    {%- endif -%}

                    <div class="payment-list">
                      {% for type in shop.enabled_payment_types %}
                        {{ type | payment_type_svg_tag: class: 'payment-list__item' }}
                      {% endfor %}
                    </div>

                    <p class="payment-list__notice">{{ 'product.general.payment_notice' | t }}</p>
                  {%- endif -%}

                  {%- if show_payment_icons and section.settings.custom_security_badge -%}
                    <hr class="card__separator">
                  {%- endif -%}

                  {%- if section.settings.custom_security_badge -%}
                    {%- if show_payment_icons -%}
                      <p class="card__subtitle heading h6">{{ 'product.general.security' | t }}</p>
                    {%- endif -%}

                    {%- assign badge_width = section.settings.custom_security_badge.width | at_most: 450 | append: 'x' -%}
                    <img class="product__trust-badge" style="width: {{ section.settings.custom_security_badge_width }}px"
                         src="{{ section.settings.custom_security_badge | img_url: badge_width }}"
                         srcset="{{ section.settings.custom_security_badge | img_url: badge_width }} 1x, {{ section.settings.custom_security_badge | img_url: badge_width, scale: 2 }} 2x"
                         alt="{{ section.settings.custom_security_badge.alt | escape }}">
                  {%- endif -%}
                </div>
              </div>
            </div>
          {%- endif -%}
        

    {%- endform -%}

    {%- comment -%}The availability container will be added automatically if there is store pickup available{%- endcomment -%}
    {%- if section.settings.show_pickup_availability -%}
      <div class="product-meta__store-availability-container"></div>
    {%- endif -%}

    {%- if request.page_type == 'index' and section.settings.show_description and product.description != blank and section.settings.description_below_add_to_cart -%}
      <div class="product-meta__description rte">
        {{ product.description }}
      </div>
    {%- endif -%}

    {%- if section.settings.show_share_buttons -%}
      <div class="product-meta__share-buttons hidden-tablet-and-up">
        <span class="text--strong">{{ 'product.general.share' | t }}</span>
        {{ share_buttons }}
      </div>
    {%- endif -%}
  </div>

  {%- if section.settings.show_payment_button and product.selected_or_first_available_variant.available == false -%}
    <style>
      #shopify-section-{{ section.id }} .shopify-payment-button {
        display: none;
      }
    </style>
  {%- endif -%}

  {% comment %}
  ------------------------------------------------------------------------------
  Product Data. This must be outputted for all products (including home page).

  IMPORTANT: THIS CODE IS VITAL. DO NOT EDIT IT NOT REMOVE IT. MAKE SURE TO KEEP
  THE EXACT SAME ATTRIBUTES.
  ------------------------------------------------------------------------------
  {% endcomment %}

  <script type="application/json" data-product-json>
    {
      "product": {{ product | json }},
      "options_with_values": {{ product.options_with_values | json }},
      "selected_variant_id": {{ selected_variant.id }}
      {%- if section.settings.show_inventory_quantity -%}
        ,"inventories": {
          {%- for variant in product.variants -%}
            {%- if variant.available -%}
              {%- if variant.inventory_management and variant.inventory_policy == 'deny' and section.settings.low_inventory_threshold > 0 -%}
                {%- if variant.inventory_quantity <= section.settings.low_inventory_threshold -%}
                  {%- capture inventory_message -%}{{ 'product.form.low_stock_with_quantity_count' | t: count: variant.inventory_quantity }}{%- endcapture -%}
                {%- else -%}
                  {%- capture inventory_message -%}{{ 'product.form.in_stock_with_quantity_count' | t: count: variant.inventory_quantity }}{%- endcapture -%}
                {%- endif -%}
              {%- else -%}
                {%- if variant.inventory_policy == 'continue' and variant.inventory_quantity <= 0 and selected_variant.requires_shipping -%}
                  {%- capture inventory_message -%}{{ 'product.form.oversell_stock' | t }}{%- endcapture -%}
                {%- else %}
                  {%- capture inventory_message -%}{{ 'product.form.in_stock' | t }}{%- endcapture -%}
                {%- endif -%}
              {%- endif -%}
            {%- else -%}
              {%- capture inventory_message -%}{{ 'product.form.sold_out' | t }}{%- endcapture -%}
            {%- endif -%}

            "{{ variant.id }}": {
              "inventory_management": {{ variant.inventory_management | json }},
              "inventory_policy": {{ variant.inventory_policy | json }},
              "inventory_quantity": {{ variant.inventory_quantity | json }},
              "inventory_message": {{ inventory_message | json }}
            }{% unless forloop.last %},{% endunless %}
          {%- endfor -%}
        }
      {%- endif -%}
    }
  </script>
</div>