{%- assign shipping_estimator_block = section.blocks | where: 'type', 'shipping_estimator' | first -%}
{%- assign variant_selector_block = section.blocks | where: 'type', 'variant_selector' | first -%}
{%- assign buy_buttons_block = section.blocks | where: 'type', 'buy_buttons' | first -%}

{%- capture section_settings -%}
{
  "showShippingEstimator": {% if template == 'product.quick-view' or product.available == false %}false{% else %}{{ section.settings.show_shipping_estimator | json }}{% endif %},
  "showQuantitySelector": {{ section.settings.show_quantity_selector | json }},
  "showPaymentButton": {% if product.template_suffix == 'pre-order' %}false{% else %}{{ section.settings.show_payment_button | json }}{% endif %},
  "showInventoryQuantity": {% if product.template_suffix != 'pre-order' %}{{ section.settings.show_inventory_quantity | json }}{% else %}false{% endif %},
  "lowInventoryThreshold": {{ section.settings.low_inventory_threshold | json }},
  "galleryTransitionEffect": {{ section.settings.carousel_effect | json }},
  "enableImageZoom": {% if template == 'product.quick-view' %}false{% else %}{{ section.settings.enable_image_zoom | json }}{% endif %},
  "zoomEffect": {{ section.settings.zoom_effect | json }},
  "enableVideoLooping": {{ section.settings.enable_video_looping | json }},
  "productOptions": {{ product.options | json | escape }},
  "enableHistoryState": {% if template == 'product.quick-view' %}false{% else %}true{% endif %},
  "infoOverflowScroll": {% if template == 'product.quick-view' %}false{% else %}true{% endif %},
  "isQuickView": {% if template == 'product.quick-view' %}true{% else %}false{% endif %}
}
{%- endcapture -%}

<section data-section-id="{{ section.id }}" data-section-type="product" data-section-settings='{{ section_settings }}'>
  {%- if template != 'product.quick-view' -%}
    <div class="container container--flush">
      <div class="page__sub-header">
        <nav aria-label="{{ 'general.breadcrumb.title' | t }}" class="breadcrumb">
          <ol class="breadcrumb__list" role="list">
            <li class="breadcrumb__item">
              <a class="breadcrumb__link link" href="{{ routes.root_url }}">{{ 'general.breadcrumb.home' | t }}</a> {%- render 'icon', icon: 'arrow-right' -%}
            </li>

            <li class="breadcrumb__item">
              {%- if collection -%}
                <a class="breadcrumb__link link" href="{{ collection.url }}">{{ collection.title }}</a> {%- render 'icon', icon: 'arrow-right' -%}
              {%- else -%}
                <a class="breadcrumb__link link" href="{{ routes.all_products_collection_url }}">{{- 'collection.general.all_products' | t -}}</a> {%- render 'icon', icon: 'arrow-right' -%}
              {%- endif -%}
            </li>

            <li class="breadcrumb__item">
              <span class="breadcrumb__link" aria-current="page">{{ product.title | truncate: 40 }}</span>
            </li>
          </ol>
        </nav>

        {%- if collection.previous_product or collection.next_product -%}
          <div class="page__navigation">
            {%- if collection.previous_product -%}
              <span class="page__navigation-item page__navigation-item--prev">
                <a href="{{ collection.previous_product.url }}" class="link" rel="prev">{%- render 'icon', icon: 'arrow-left' -%} {{- 'product.general.previous_product' | t -}}</a>
              </span>
            {%- endif -%}

            {%- if collection.next_product -%}
              <span class="page__navigation-item page__navigation-item--next">
                <a href="{{ collection.next_product.url }}" class="link" rel="next">{{- 'product.general.next_product' | t -}} {%- render 'icon', icon: 'arrow-right' -%}</a>
              </span>
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>

      <div class="product-block-list product-block-list--{{ section.settings.image_size }}">
        <div class="product-block-list__wrapper">
          {%- if product.media.size > 0 -%}
            <div class="product-block-list__item product-block-list__item--gallery">
              {% render 'product-gallery' %}
            </div>
          {%- endif -%}

          <div class="product-block-list__item product-block-list__item--info">
            {% render 'product-info' %}
          </div>
          
           {%- comment -%}
        
             --------------------------------------------------------------------------------------
          Description
          --------------------------------------------------------------------------------------
          {%- endcomment -%}

          {%- if product.description != blank -%}
            <div class="product-block-list__item product-block-list__item--description">
              <div class="card">
                {%- if section.settings.content_display_mode == 'collapse_all' -%}
                  <button class="card__collapsible-button" data-action="toggle-collapsible" aria-expanded="false" aria-controls="product-description">
                    <span class="card__title heading h3">{{ 'product.general.description' | t }}</span>
                    <span class="plus-button plus-button--large"></span>
                  </button>

                  <div id="product-description" class="card__collapsible">
                    <div class="card__collapsible-content">
                      <div class="rte text--pull">
                        {{ product.description | remove: 'data-section-type="product"' }}
                      </div>
                    </div>
                  </div>
                {%- else -%}
                  <div class="card__header">
                    <h2 class="card__title heading h3">{{ 'product.general.description' | t }}</h2>
                  </div>

                  {%- if section.settings.content_display_mode == 'show_all_and_expand_description' -%}
                    <div class="card__section">
                      <div class="rte text--pull">
                        {{ product.description | remove: 'data-section-type="product"' }}
                      </div>
                    </div>
                  {%- else -%}
                    <div class="card__section expandable-content" aria-expanded="false">
                      <div class="rte text--pull">
                        {{ product.description | remove: 'data-section-type="product"' }}
                      </div>

                      <button class="expandable-content__toggle">
                        <span class="expandable-content__toggle-icon"></span>
                        <span class="expandable-content__toggle-text" data-view-more="{{ 'product.general.view_more' | t | escape }}" data-view-less="{{ 'product.general.view_less' | t | escape }}">{{- 'product.general.view_more' | t -}}</span>
                      </button>
                    </div>
                  {%- endif -%}
                {%- endif -%}
              </div>
            </div>
          {%- endif -%}
          
          {%- comment -%}      
          
           --------------------------------------------------------------------------------------
          ESTIMATE SHIPPING
          --------------------------------------------------------------------------------------
          {%- endcomment -%}

          {%- if section.settings.show_shipping_estimator and product.available -%}
            <div class="product-block-list__item product-block-list__item--shipping">
              <div class="card">
                <div class="card__header">
                  <h2 class="card__title heading h3">{{ 'product.general.estimate_shipping' | t }}</h2>
                </div>

                <div class="card__section">
                  <div class="shipping-estimator form" role="form">
                    <div class="form__input-row">
                      <div class="form__input-wrapper">
                        <label for="shipping-estimator-country" class="form__label">{{ 'cart.shipping_estimator.country' | t }}</label>

                        <div class="select-wrapper select-wrapper--primary">
                          {%- render 'icon', icon: 'arrow-bottom' -%}

                          <select name="country" id="shipping-estimator-country" data-default="{{ customer.default_address.country | default: section.settings.shipping_estimator_default_country }}" required>
                            {{- country_option_tags -}}
                          </select>
                        </div>
                      </div>

                      <div class="form__input-wrapper" style="display: none">
                        <label for="shipping-estimator-province" class="form__label">{{ 'cart.shipping_estimator.province' | t }}</label>

                        <div class="select-wrapper select-wrapper--primary">
                          {%- render 'icon', icon: 'arrow-bottom' -%}

                          <select name="province" id="shipping-estimator-province" data-default="{{ customer.default_address.province }}"></select>
                        </div>
                      </div>

                      <div class="form__input-wrapper" style="max-width: 155px">
                        <label for="shipping-estimator-zip" class="form__label">{{ 'cart.shipping_estimator.zip_code' | t }}</label>
                        <input type="text" name="zip" id="shipping-estimator-zip" class="form__field form__field--text" value="{{ customer.default.address.zip }}" required>
                      </div>
                    </div>

                    <button type="button" class="form__submit button button--primary" data-action="estimate-shipping">{{ 'cart.shipping_estimator.estimate' | t }}</button>

                    <div class="shipping-estimator__results rte" style="display: none;"></div>
                  </div>
                </div>

                {%- if section.settings.show_refunds_policy and shop.refund_policy != blank -%}
                  <div class="card__section card__section--tight">
                    <button class="product__refund-policy-link link link--accented" data-action="open-modal" aria-controls="modal-refunds-policy">{{ 'product.general.refund_policy' | t }} {%- render 'icon', icon: 'arrow-right' -%}</button>
                  </div>
                {%- endif -%}
              </div>
            </div>
          {%- endif -%}
          
          

          {%- comment -%}
          
          --------------------------------------------------------------------------------------
          REVIEWS
          --------------------------------------------------------------------------------------
          {%- endcomment -%}
          
			<div class='card'>
              <div class='card__section card__section--tight'>
                        <div id="ReviewsWidget"></div>
              </div>

           
         


<script>
new ReviewsWidget('#ReviewsWidget', {
    store: "box-fox",
    widget: "polaris",
    options: {
        types: "product_review, questions",
        per_page: 20,
        product_review: {
            sku: "{{ product.variants | map: 'sku' | join: ';' }};{{ product.variants | map: 'id' | join: ';' }}",
          	min_rating: 4, 
            enable_rich_snippets: true,
            
        /* Your custom Structured Data */
            structured_data: {

                category: {{ product.type | json }},
                {% capture gtin_length %}
                    {{ product.variants.first.barcode | size }}
                {% endcapture %}

                {% if gtin_length == "14" %}
                    gtin14:"{{product.variants.first.barcode}}",
                {% elsif gtin_length == "13" %}
                    gtin13:"{{product.variants.first.barcode}}",
                {% elsif gtin_length == "12" %}
                    gtin12:"{{product.variants.first.barcode}}",
                {% endif %}

                url: "{{ shop.url }}{{ product.url }}",

                {%- if product.featured_image -%}
                    image: "https:{{ product.featured_image | product_img_url: 'grande' }}",
                {%- endif -%}

                {% if variant.image %}
                    {% assign variant_image_size = variant.image.width | append: 'x' %}
                    image: "http:{{ variant.image.src | img_url: variant_image_size }}",
                {% endif %}

                description: "{{ product.description | strip_html | strip_newlines | escape }}",
                {% assign ruk_current_variant = product.selected_or_first_available_variant %}
                {% assign ruk_variant_count = product.variants | size %}
                {% assign ruk_count = 0 %}


                {% if product.variants %}
                    {% assign ruk_count = ruk_count | plus: 1 %}

                    offers: [{
                        type: "Offer",
                        priceCurrency: "{{ shop.currency }}",
                        price: "{{ ruk_current_variant.price | money_without_currency  | strip_html | remove: ',' }}",
                        itemCondition: "http://schema.org/NewCondition",
                        availability: "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
                        url: "{{ shop.url }}{{ ruk_current_variant.url }}",

                        {% if ruk_current_variant.image %}
                            {% assign variant_image_size = ruk_current_variant.image.width | append: 'x' %}
                            image: "https:{{ ruk_current_variant.image.src | img_url: variant_image_size }}",
                        {% else %}
                            image: "https:{{ product.featured_image.src | img_url: 'grande' }}",
                        {% endif %}

                        {% if ruk_current_variant.title != 'Default Title' %}
                            name: "{{ product.title | strip_html | escape }} - {{ fa_current_variant.title | escape }}",
                        {% else %}
                            name: "{{ product.title | strip_html | escape }}",
                        {% endif %}

                        {% if ruk_current_variant.barcode.size == 12 %}
                            gtin12: "{{ ruk_current_variant.barcode }}",
                        {% endif %}

                        {% if ruk_current_variant.barcode.size == 13 %}
                            gtin13: "{{ ruk_current_variant.barcode }}",
                        {% endif %}

                        {% if ruk_current_variant.barcode.size == 14 %}
                            gtin14: "{{ ruk_current_variant.barcode }}",
                        {% endif %}

                        {% if ruk_current_variant.sku != blank %}
                            sku: "{{ ruk_current_variant.sku }}",
                        {% else %}
                            sku: "{{ ruk_current_variant.id }}",
                        {% endif %}

                        {% if product.description != blank %}
                            description: "{{ product.description | strip_html | escape | strip_newlines }}",
                        {% endif %}

                        priceValidUntil: "{{ 'now' | date: '%s' | plus: 31536000 | date: '%Y-%m-%d' | uri_encode | replace:'+','%20' }}"
                    }],
                {% endif %}

                brand: {
                    type: 'Brand',
                    name: '{{ product.vendor | escape }}',
                },

            },
                    },

        
        /* Toggle Options */
        questions:{
            hide_if_no_results:false,
            enable_ask_question:true,
            show_dates:true,
            grouping:"{{ product.variants | map: 'sku' | join: ';' }};{{ product.variants | map: 'id' | join: ';' }}"
        },

        //Header settings:
        header:{
            enable_summary:true, //Show overall rating & review count
            enable_ratings:true,
            enable_attributes:true,
            enable_image_gallery:true, //Show photo & video gallery
            enable_percent_recommended:false, //Show what percentage of reviewers recommend it
            enable_write_review:true, //Show "Write Review" button
            enable_ask_question:true, //Show "Ask Question" button
            enable_sub_header:true, //Show subheader
            show_rating_threshold_percent:0,
        },

        //Filtering settings:
        filtering:{
            enable:true, //Show filtering options
            enable_text_search:true, //Show search field
            enable_sorting:true, //Show sorting options (most recent, most popular)
            enable_overall_rating_filter:true, //Show overall rating breakdown filter
            enable_ratings_filters:true, //Show product attributes filter
            enable_attributes_filters:true, //Show author attributes filter
        },

        //Review settings:
        reviews:{
            enable_avatar:true, //Show author avatar
            enable_reviewer_name:true, //Show author name
            enable_reviewer_address:true, //Show author location
            reviewer_address_format:'city, country', //Author location display format
            enable_verified_badge:true, //Show "Verified Customer" badge
            enable_reviewer_recommends:true, //Show "I recommend it" badge
            enable_attributes:true, //Show author attributes
            enable_product_name:true, //Show display product name
            enable_images:true, //Show display review photos
            enable_ratings:true, //Show product attributes (additional ratings)
            enable_share:true, //Show share buttons
            enable_helpful_vote:true, //Show "was this helpful?" section
            enable_helpful_display:true, //Show how many times times review upvoted
            enable_report:true, //Show report button
            enable_date:true, //Show when review was published
        },
        text:{
            "Verified Customer":"Verified Customer"
        },
            },
    
    translations:{
        "Verified Customer": 'Verified Customer'
    },
      /* Customise Colours & Fonts */
    styles: {
        //Base font size is a reference size for all text elements. When base value gets changed, all TextHeading and TexBody elements get proportionally adjusted.
        '--base-font-size':'16px',

        //Button styles (shared between buttons):
        '--common-button-font-family': 'inherit',
        '--common-button-font-size':'16px',
        '--common-button-font-weight':'var(--text-font-bolder-weight)',
        '--common-button-letter-spacing':'0.3em',
        '--common-button-text-transform':'uppercase',
        '--common-button-vertical-padding':'10px',
        '--common-button-horizontal-padding':'20px',
        '--common-button-border-width':'2px',
        '--common-button-border-radius':'0px',

        //Primary button styles:
        '--primary-button-bg-color': 'var(--primary-button-background)',
        '--primary-button-border-color': 'var(--primary-button-background)',
        '--primary-button-text-color': '#ffffff',

        //Secondary button styles:
        '--secondary-button-bg-color':'#464553',
        '--secondary-button-border-color':'#464553',
        '--secondary-button-text-color':'#fff',

        //Star styles:
        '--common-star-color': '#3a3a3a',
        '--common-star-disabled-color': 'rgba(0,0,0,0.25)',
        '--medium-star-size':'22px',
        '--small-star-size':'19px',

        //Heading styles:
        '--heading-text-color':'#0E1311',
        '--heading-text-font-weight':'600',
        '--heading-text-font-family':'inherit',
        '--heading-text-line-height': '1.4',
        '--heading-text-letter-spacing':'0',
        '--heading-text-transform':'none',

        //Body text styles:
        '--body-text-color':'#0E1311',
        '--body-text-font-weight':'400',
        '--body-text-font-family':'inherit',
        '--body-text-line-height': '1.4',
        '--body-text-letter-spacing':'0',
        '--body-text-transform':'none',

        //Input field styles:
        '--inputfield-text-font-family':'inherit',
        '--input-text-font-size':'14px',
        '--inputfield-text-font-weight':'400',
        '--inputfield-text-color':'#0E1311',
        '--inputfield-border-color':'rgba(0,0,0,0.2)',
        '--inputfield-background-color':'transparent',
        '--inputfield-border-width':'1px',
        '--inputfield-border-radius':'0px',

        '--common-border-color':'rgba(0,0,0,0.15)',
        '--common-border-width':'1px',
        '--common-sidebar-width':'190px',

        //Slider indicator (for attributes) styles:
        '--slider-indicator-bg-color':'rgba(0,0,0,0.1)',
        '--slider-indicator-button-color':'#0E1311',
        '--slider-indicator-width':'190px',

        //Badge styles:
        '--badge-icon-color':'#3a3a3a',
        '--badge-icon-font-size':'inherit',
        '--badge-text-color':'#0E1311',
        '--badge-text-font-size':'inherit',
        '--badge-text-letter-spacing':'inherit',
        '--badge-text-transform':'inherit',

        //Author styles:
        '--author-font-size':'inherit',
        '--author-text-transform':'none',

        //Author avatar styles:
        '--avatar-thumbnail-size':'60px',
        '--avatar-thumbnail-border-radius':'100px',
        '--avatar-thumbnail-text-color':'#0E1311',
        '--avatar-thumbnail-bg-color':'rgba(0,0,0,0.1)',

        //Product photo or review photo styles:
        '--photo-video-thumbnail-size':'80px',
        '--photo-video-thumbnail-border-radius':'0px',

        //Media (photo & video) slider styles:
        '--mediaslider-scroll-button-icon-color':'#0E1311',
        '--mediaslider-scroll-button-bg-color':'rgba(255, 255, 255, 0.85)',
        '--mediaslider-overlay-text-color':'#ffffff',
        '--mediaslider-overlay-bg-color':'rgba(0, 0, 0, 0.8)',
        '--mediaslider-item-size':'110px',

        //Pagination & tabs styles (normal):
        '--pagination-tab-text-color':'#0E1311',
        '--pagination-tab-text-transform':'none',
        '--pagination-tab-text-letter-spacing':'0',
        '--pagination-tab-text-font-size':'16px',
        '--pagination-tab-text-font-weight':'600',

        //Pagination & tabs styles (active):
        '--pagination-tab-active-text-color':'#0E1311',
        '--pagination-tab-active-text-font-weight':'600',
        '--pagination-tab-active-border-color':'#0E1311',
        '--pagination-tab-border-width':'3px',
    },
    
});
</script>

          
           {%- comment -%}
 
         
          --------------------------------------------------------------------------------------
          TABS
          --------------------------------------------------------------------------------------
          {%- endcomment -%}

          {%- for i in (1..5) -%}
            {%- assign unique_tab_title = '' -%}
            {%- assign unique_tab_content = '' -%}

            {%- comment -%}First check for metafields{%- endcomment -%}

            {%- assign metafield_tab_title_option = 'tab_' | append: i | append: '_title' -%}
            {%- assign metafield_tab_content_option = 'tab_' | append: i | append: '_content' -%}

            {%- if product.metafields.sf_product_tabs[metafield_tab_title_option] != blank and product.metafields.sf_product_tabs[metafield_tab_content_option] != blank -%}
              {%- assign unique_tab_title = product.metafields.sf_product_tabs[metafield_tab_title_option] -%}
              {%- assign unique_tab_content = product.metafields.sf_product_tabs[metafield_tab_content_option] -%}
            {%- else -%}
              {%- assign tab_to_look = '__tab' | append: i | append: ':' -%}

              {%- for tag in product.tags -%}
                {%- if tag contains tab_to_look -%}
                  {%- assign unique_tab_handle = tag | split: tab_to_look | last -%}
                  {%- assign unique_tab_page = pages[unique_tab_handle] -%}

                  {%- unless unique_tab_page.empty? -%}
                    {%- assign unique_tab_title = unique_tab_page.title -%}
                    {%- assign unique_tab_content = unique_tab_page.content -%}
                    {%- break -%}
                  {%- endunless -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}

            {%- if unique_tab_title != blank and unique_tab_content != blank -%}
              <div class="product-block-list__item product-block-list__item--content">
                <div class="card">
                  {%- if section.settings.content_display_mode == 'collapse_all_except_description' or section.settings.content_display_mode == 'collapse_all' -%}
                    <button class="card__collapsible-button" data-action="toggle-collapsible" aria-expanded="false" aria-controls="unique-tab-{{ i }}">
                      <span class="card__title heading h3">{{ unique_tab_title }}</span>
                      <span class="plus-button plus-button--large"></span>
                    </button>

                    <div id="unique-tab-{{ i }}" class="card__collapsible">
                      <div class="card__collapsible-content">
                        <div class="rte text--pull">
                          {{ unique_tab_content }}
                        </div>
                      </div>
                    </div>
                  {%- else -%}
                    <div class="card__header">
                      <h2 class="card__title heading h3">{{ unique_tab_title }}</h2>
                    </div>

                    <div class="card__section expandable-content" aria-expanded="false">
                      <div class="rte text--pull">
                        {{ unique_tab_content }}
                      </div>

                      <button class="expandable-content__toggle">
                        <span class="expandable-content__toggle-icon"></span>
                        <span class="expandable-content__toggle-text" data-view-more="{{ 'product.general.view_more' | t | escape }}" data-view-less="{{ 'product.general.view_less' | t | escape }}">{{- 'product.general.view_more' | t -}}</span>
                      </button>
                    </div>
                  {%- endif -%}
                </div>
              </div>
            {%- endif -%}
          {%- endfor -%}

          {%- for i in (1..3) -%}
            {%- assign global_tab_option = 'tab_page_' | append: i | append: '_handle' -%}
            {%- assign global_tab_page = pages[section.settings[global_tab_option]] -%}

            {%- unless global_tab_page.empty? -%}
              <div class="product-block-list__item product-block-list__item--content">
                <div class="card">
                  {%- if section.settings.content_display_mode == 'collapse_all_except_description' or section.settings.content_display_mode == 'collapse_all' -%}
                    <button class="card__collapsible-button" data-action="toggle-collapsible" aria-expanded="false" aria-controls="global-tab-{{ i }}">
                      <span class="card__title heading h3">{{ global_tab_page.title }}</span>
                      <span class="plus-button plus-button--large"></span>
                    </button>

                    <div id="global-tab-{{ i }}" class="card__collapsible">
                      <div class="card__collapsible-content">
                        <div class="rte text--pull">
                          {{ global_tab_page.content }}
                        </div>
                      </div>
                    </div>
                  {%- else -%}
                    <div class="card__header">
                      <h2 class="card__title heading h3">{{ global_tab_page.title }}</h2>
                    </div>

                    <div class="card__section expandable-content" aria-expanded="false">
                      <div class="rte text--pull">
                        {{ global_tab_page.content }}
                      </div>

                      <button class="expandable-content__toggle">
                        <span class="expandable-content__toggle-icon"></span>
                        <span class="expandable-content__toggle-text" data-view-more="{{ 'product.general.view_more' | t | escape }}" data-view-less="{{ 'product.general.view_less' | t | escape }}">{{- 'product.general.view_more' | t -}}</span>
                      </button>
                    </div>
                  {%- endif -%}
                </div>
              </div>
            {%- endunless -%}
          {%- endfor -%}
          

         
          

          

          
        </div>
      </div>
    </div>

    {%- if section.settings.show_refunds_policy and shop.refund_policy != blank -%}
      <div id="modal-refunds-policy" class="modal" aria-hidden="true">
        <div class="modal__dialog" role="dialog">
          <header class="modal__header">
            <h3 class="modal__title heading h2">{{ 'product.general.refund_policy' | t }}</h3>
            <button class="modal__close link" data-action="close-modal" title="{{ 'general.accessibility.close' | t | escape }}">
              {%- render 'icon', icon: 'close' -%}
            </button>
          </header>

          <div class="modal__content">
            <div class="rte">
              {{ shop.refund_policy }}
            </div>
          </div>
        </div>
      </div>
    {%- endif -%}
  {%- else -%}
    {%- comment -%}We display the quick view within the product template so we can re-use the same settings{%- endcomment -%}
    <div class="featured-product">
      {%- render 'product-gallery' -%}
      {%- render 'product-info' -%}
    </div>
  {%- endif -%}
</section>

{% schema %}
{
  "name": "Product page",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sku",
      "label": "Show SKU",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show share buttons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_taxes_included",
      "label": "Show price taxes notice",
      "default": false
    },
    {
      "type": "select",
      "id": "selector_mode",
      "label": "Selector type",
      "options": [
        {
          "value": "block",
          "label": "Block"
        },
        {
          "value": "dropdown",
          "label": "Dropdown"
        }
      ],
      "default": "block"
    },
    {
      "type": "select",
      "id": "color_mode",
      "label": "Color selector type",
      "info": "Variant image mode requires that all variant has an associated image. [Learn more](https://help.shopify.com/en/manual/products/product-variant-images#add-images-to-existing-variants)",
      "options": [
        {
          "value": "block",
          "label": "Block"
        },
        {
          "value": "dropdown",
          "label": "Dropdown"
        },
        {
          "value": "color",
          "label": "Color swatch"
        },
        {
          "value": "variant_image",
          "label": "Variant image"
        }
      ],
      "default": "color"
    },
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": "Show quantity selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_pickup_availability",
      "label": "Show local pickup availability",
      "info": "Show customers where they can pick up the product. [Learn more](https://help.shopify.com/en/manual/shipping/setting-up-and-managing-your-shipping/local-methods/local-pickup#show-pickup-availability-to-your-customers)",
      "default": false
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "Size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": "Enable image zoom",
      "default": true
    },
    {
      "type": "select",
      "id": "zoom_effect",
      "label": "Desktop zoom effect",
      "options": [
        {
          "value": "inside",
          "label": "Inside"
        },
        {
          "value": "outside",
          "label": "Outside"
        }
      ],
      "default": "outside"
    },
    {
      "type": "select",
      "id": "carousel_effect",
      "label": "Transition effect",
      "options": [
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "slide",
          "label": "Slide"
        }
      ],
      "default": "fade"
    },
    {
      "type": "header",
      "content": "Inventory"
    },
    {
      "type": "paragraph",
      "content": "You can also add a stock countdown. [Learn more](https://support.maestrooo.com/article/177-product-show-an-stock-countdown-bar)."
    },
    {
      "type": "checkbox",
      "id": "show_inventory_quantity",
      "label": "Show inventory quantity",
      "default": false
    },
    {
      "type": "range",
      "id": "low_inventory_threshold",
      "label": "Low inventory threshold",
      "info": "Use low stock color when quantity is below the threshold. Choose 0 to always show in stock.",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "paragraph",
      "content": "You can also add per-product tabs. [Learn more](http://support.maestrooo.com/article/83-product-adding-different-tabs-per-product)."
    },
    {
      "type": "select",
      "id": "content_display_mode",
      "label": "Display mode",
      "options": [
        {
          "value": "show_all",
          "label": "Show all"
        },
        {
          "value": "show_all_and_expand_description",
          "label": "Show all and expand description"
        },
        {
          "value": "collapse_all",
          "label": "Collapse all"
        },
        {
          "value": "collapse_all_except_description",
          "label": "Collapse all except description"
        }
      ],
      "default": "show_all_and_expand_description"
    },
    {
      "type": "page",
      "id": "tab_page_1_handle",
      "label": "First page"
    },
    {
      "type": "page",
      "id": "tab_page_2_handle",
      "label": "Second page"
    },
    {
      "type": "page",
      "id": "tab_page_3_handle",
      "label": "Third page"
    },
    {
      "type": "header",
      "content": "Reviews"
    },
    {
      "type": "paragraph",
      "content": "You need to install [Shopify's free Product Reviews](https://apps.shopify.com/product-reviews) app before enabling those options."
    },
    {
      "type": "checkbox",
      "id": "enable_reviews",
      "label": "Enable",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_reviews_badge",
      "label": "Show badge",
      "default": false
    },
    {
      "type": "header",
      "content": "Trust"
    },
    {
      "type": "text",
      "id": "trust_title",
      "label": "Heading",
      "default": "Payment & Security"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "custom_security_badge",
      "label": "Security badge",
      "info": "800 x 200px .jpg recommended"
    },
    {
      "type": "range",
      "id": "custom_security_badge_width",
      "min": 100,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "Security badge width",
      "default": 200
    },
    {
      "type": "header",
      "content": "Shipping estimator"
    },
    {
      "type": "checkbox",
      "id": "show_shipping_estimator",
      "label": "Show shipping estimator",
      "info": "Only show if product is available.",
      "default": true
    },
    {
      "type": "text",
      "id": "shipping_estimator_default_country",
      "label": "Default country",
      "info": "If the customer is logged in, the country of their shipping address will be used.",
      "default": "United States"
    },
    {
      "type": "checkbox",
      "id": "show_refunds_policy",
      "label": "Show refunds policy",
      "info": "Refund policy must be added into your store policies. [Learn more](https://help.shopify.com/manual/sell-online/checkout-settings/refund-privacy-tos).",
      "default": true
    }
  ]
}
{% endschema %}
